# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
package-lock.json
*.log
*.gz

# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# App
public/javascripts/*.js
public/stylesheets/*.css
.env
logs/*.log

# Client
client/package-lock.json
client/node_modules
