#login {
  background-image: url('https://usaluyin.s3.amazonaws.com/public/login.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.login-house {
  background-color: rgba($color: #ccc, $alpha: .5);
  border: 1px solid #aaa;
  padding: 3rem;
  border-radius: 10px;
}
